* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  width: 100vw;
  height: 100%;
}

.middle-column {
  width: 330px;
  padding: 10px;
  display: flex;
}

.right-column {
  flex: 1;
  /* background-color: lightcoral; */
  overflow-x: auto;
  /* padding: 10px; */
}

.right-column .content {
  min-width: 100%;

  width: 150%;
}
